@font-face {
	font-family: "Icons";
	src: url('../fonts/Icons.eot');
	src: url('../fonts/Icons.eot?#iefix') format('eot'),
		url('../fonts/Icons.woff') format('woff'),
		url('../fonts/Icons.ttf') format('truetype'),
		url('../fonts/Icons.svg#Icons') format('svg');
}

.icon:before {
	font-family: "Icons";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-account:before {
	content: "\E001";
}

.icon-arrow-left:before {
	content: "\E002";
}

.icon-arrow-right:before {
	content: "\E003";
}

.icon-arrow-up1:before {
	content: "\E004";
}

.icon-arrow-up2:before {
	content: "\E005";
}

.icon-calculators:before {
	content: "\E006";
}

.icon-calendar:before {
	content: "\E007";
}

.icon-cart:before {
	content: "\E008";
}

.icon-circle-x:before {
	content: "\E009";
}

.icon-circle:before {
	content: "\E00A";
}

.icon-cycle:before {
	content: "\E00B";
}

.icon-facebook:before {
	content: "\E00C";
}

.icon-google-plus:before {
	content: "\E00D";
}

.icon-googleplus:before {
	content: "\E00E";
}

.icon-hamburger:before {
	content: "\E00F";
}

.icon-home:before {
	content: "\E010";
}

.icon-instagram:before {
	content: "\E011";
}

.icon-left-arrow:before {
	content: "\E012";
}

.icon-letter:before {
	content: "\E013";
}

.icon-linkedin:before {
	content: "\E014";
}

.icon-locate:before {
	content: "\E015";
}

.icon-lock:before {
	content: "\E016";
}

.icon-menu:before {
	content: "\E017";
}

.icon-minus:before {
	content: "\E018";
}

.icon-percent:before {
	content: "\E019";
}

.icon-pinterest:before {
	content: "\E01A";
}

.icon-play:before {
	content: "\E01B";
}

.icon-plus:before {
	content: "\E01C";
}

.icon-print:before {
	content: "\E01D";
}

.icon-search:before {
	content: "\E01E";
}

.icon-share1:before {
	content: "\E01F";
}

.icon-share2:before {
	content: "\E020";
}

.icon-star:before {
	content: "\E021";
}

.icon-stolencard:before {
	content: "\E022";
}

.icon-swipe-left:before {
	content: "\E023";
}

.icon-swipe-right:before {
	content: "\E024";
}

.icon-twitter:before {
	content: "\E025";
}

.icon-vimeo:before {
	content: "\E026";
}

.icon-youtube:before {
	content: "\E027";
}
