.meta {
	&,p {
	    font-size: rem-calc(13)!important;
	    line-height: 1.4!important;
	    margin-bottom: 0!important;
	    text-align: right;
	}
}
.bottom-blog {
	background: $white;
	position:relative;
	z-index: 13!important;
}
@media #{$small-up} {
	.blog-slider {
		.slick-dots {
			li {
				button {
					&:before {
						color:$primary-color;
					}
				}
			}
		}
	}
	h3.article-title,h1.blog-title {
		font-family:$font-family-serif!important;
		font-size:rem-calc(25);
		font-style:italic;
		letter-spacing: rem-calc(2.2);
	}
	.blog-slide {
		padding:rem-calc(25);
		h3.title {
			&,a {
				font-family:$font-family-serif;
				color:$primary-color;
				font-style:italic;
				font-size:rem-calc(20);
			}
			margin-bottom: rem-calc(5);
		}
		p.post-tags {
			margin-top:0;
		}
		.short-description {
			p {
				margin-bottom:rem-calc(8);
			}
		}
	}
	.article-info {
		max-width: rem-calc(450);
		.article-image {
			max-height: rem-calc(244);
			overflow: hidden;
			margin-bottom: rem-calc(22);
			img {
				width:100%;
				max-width:rem-calc(450);
			}
		}
		h3 {
			&,a {
				font-size:rem-calc(14);
				color:$link-color;
				letter-spacing: rem-calc(1);
				text-transform: uppercase;
			}
		}
		img {
			margin-bottom:rem-calc(15);
		}
		.short-description {
			&,span,p {
			    font-size: 0.85rem;
			    line-height: 1.6em;
			}
		}
		.post-tags {
			clear: left;
		    display: block;
		    text-align: left;
		    font-style: italic;
		    margin-top:rem-calc(8);
			&,a {
				font-size:rem-calc(14);
				color:$link-color;
				letter-spacing: rem-calc(1);
				text-transform: uppercase;
			}
		}
	}
	.blog {
		.posted {
			text-align: center;
    		margin-bottom: rem-calc(20);
    		font-size:rem-calc(14);
    		line-height: 1.1;
		}
	}
	.blog-sidebar {
		.no-bullet {
			li {
				font-size:rem-calc(13);
				time {
					display:block;
					font-style:italic;
					margin-bottom:rem-calc(10);
					padding-bottom:rem-calc(10);
					border-bottom:1px dotted $snow;
				}
			}
		}
	}
	#comments {
		margin-top:rem-calc(40);
		.section-title {
			border-bottom:1px solid $snow;
		}
	}
	.bottom-blog h2 {
		font-weight:500;
		letter-spacing: rem-calc(2.5);
	}
	h3.article-title {
		margin-bottom:rem-calc(0);	
	}
}

@media #{$small-only} {
	.article-info {
    	margin: 0 auto;
	}
}

@media #{$medium-up} {
	.blog-sidebar {
		padding-left:rem-calc(18);
	}
	.sticky.blog h4 {
    	white-space: nowrap;
	}

}

@media #{$medium-only} {}

@media #{$large-up} {
	.posted {
		padding-top:rem-calc(8);
	}
	h3.article-title {
		margin-bottom:rem-calc(10)!important;	
	}
}

@media #{$large-only} {}

@media #{$xlarge-up} {}

@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}

@media #{$xxlarge-only} {}