@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}
.master-cart-toggle {
	position:absolute;
	width:rem-calc(50);
	height:rem-calc(50);
	right:0;
	top:rem-calc(-8);
	cursor:pointer;
	//background:rgba($black,0.5);
}

.icon-bag {
	&.active {
		@extend .icon-bag-full;
		color:$primary-color;
	}
}
@media #{$small-up} {
	.top-header {
		position:relative;
	}
	.cart-container {
		position:relative;
		.ajax_quantity {
			position:absolute;
			font-family:$font-family-sans-serif;
			font-size: rem-calc(10);
		    width: rem-calc(22);
		    left:rem-calc(1);
		    top:rem-calc(6);
		    text-align: center;
		    &.active {
		    	color:$white!important;
		    }
		}
	}
	.inner-cart {
		position:relative;
	}
	#cartMessage {
		position:fixed;
		padding:rem-calc(30);
		@include transition-all(0.5s);
		&.message-success {
			background:rgba($info-color,0.8);
		}
		&.message-error {
			background:rgba($alert-color,0.8);
		}
		border-radius:rem-calc(10);
		color:$white;
		z-index: 999;
		visibility: hidden;
		top:rem-calc(300);
		right:5%;
		left:5%;
		opacity:0;
		&.active {
			opacity:1;
		}
		.closer {
			position:absolute;
			right:rem-calc(10);
			top:rem-calc(4);
			cursor:pointer;
			font-size:rem-calc(30);
			&:hover {
				color:$primary-color;
			}
			&:active {
				color:$snow;
			}
		}
	}
	strong.cart-price {
		font-weight:100;
		font-size:rem-calc(12);
	}
	.icon-bag {
		&.pulse {
			-webkit-animation: bounce 800ms ease-out;
			-moz-animation: bounce 800ms ease-out;
			-o-animation: bounce 800ms ease-out;
			animation: bounce 800ms ease-out;
		}
	}
	.quick-cart-window {
		position:absolute;
		-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25);
		-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.25);
		box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.25);
		display:none;
		z-index:31;
		&.toggled {
			display:block;
		}
		#crt {
			max-height:rem-calc(550);
			overflow:hidden;
    		overflow-y: scroll;
    		padding-bottom:rem-calc(10);
			p {
				margin: rem-calc(20 10 0 10);
			}
		}
		background:$white;
		max-width:rem-calc(320);
		width:100%;
		padding:rem-calc(10);
		right:rem-calc(0);
		top:rem-calc(0);
		.quick-cart-item {
			padding:rem-calc(10);
			padding-bottom:rem-calc(15);
			border-bottom:1px solid $secondary-color;
			display:block;
			margin-bottom:rem-calc(5);
			&:last-of-type {
				border:0;
			}
			.quick-cart-image {
				margin-right:rem-calc(15);
				float:left;
				margin-bottom:rem-calc(10);
				img {
					max-width:rem-calc(80);
				}
			}
			.quick-cart-details {
				&,p,span,a {
					font-size:rem-calc(12);

				}
			}
		}
		.clearfix {
			//height:rem-calc(10);
			// background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 98%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
			// background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
			// background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 98%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		}
		.cart-bottom {
			position:relative;
			bottom:0;
			left:0;
			right:0;
			width:100%;
		}
		.button.checkout-link {
			margin:0 auto;
			margin-bottom:rem-calc(10);
			width:100%;
			line-height:1.2;
			padding-left:rem-calc(10);
			padding-right:rem-calc(10);
			background:$primary-color;
			color:$white;
			padding-top:rem-calc(20);
			&:hover {
				background:$primary-color;
				color:$white;
			}
		}
		.view-bag-link{
			font-size:rem-calc(14);
		}
	}
	#shopping-cart {
		margin-top:rem-calc(40);
		h1 {
			text-align:center;
			margin-bottom:rem-calc(20);
		}
		table {
			width:100%;
		}
		table,tr,td,th {
			border:$silver 1px solid;
			color:$primary-color;
			&,p {
				font-size:rem-calc(14)!important;
				margin-bottom:0!important;
			}
		}
		tr {
			background:$white;
		}
		.cart-image {
			float:left;
			margin-right:rem-calc(20);
		}
		.cart-title {
			padding:11% 10px;
		}
	}
	#basket-right {
		.button {
			width:100%;
		}
		#update-cart {
			max-width: rem-calc(250);
			padding-top:rem-calc(16)!important;
    		padding-bottom:rem-calc(14)!important;
		}
		#checkout {
			@include buttonStyle();
			margin:0 0 20px 0;
			width:100%;
		}
	}
	input[type="image"] {
		height:auto!important;
		padding:0!important;
	}
	#paymentMethodList {
		margin-top:10px;
		ul {
			display: inline-block;
			li {
				padding:2px;
				margin:0;
				img {
					max-width:rem-calc(40);
				}
			}
		}
	}
	#cart-notes {
		margin-top:rem-calc(30);
	}
}

@media #{$small-only} {
	// .quick-cart-window {
	// 	right: rem-calc(20);
 //    	top: rem-calc(65);
	// }
	#adminList .cart-container .ajax_quantity {
    	top: rem-calc(15);
    	left: rem-calc(2);
    	font-size:rem-calc(11);
	}
	.cart-toggle .icon {
		opacity:1!important;
	}
	.quick-cart-window {
		max-height: 80vh;
    	overflow: hidden;
    	.inner-cart {
			position:static;
    	}
    	#crt {
    		position:relative;
    		overflow:scroll;
    		padding-bottom:rem-calc(240);
    	}
    	.cart-bottom {
    		position:absolute;
    		padding:rem-calc(8);
    		bottom:rem-calc(0);
    		background:$white;
    	}
	}
}

@media #{$medium-up} {
	#cartMessage {
		position:absolute;
		top:rem-calc(90);
		right:rem-calc(-40);
	}
	.quick-cart-window {
		top:rem-calc(35);
		right:rem-calc(50);
		position:fixed;
	}
}

@media #{$medium-only} {}

@media #{$large-up} {}

@media #{$large-only} {}

@media #{$xlarge-up} {}

@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}

@media #{$xxlarge-only} {}