
@media #{$small-up} {
	.master-container {
		position:relative;
		min-height:100%;
	}
	footer {
		padding:rem-calc(18);
		background:rgba($ghost,0.89);
		position:absolute;
		bottom:0;
		width:100%;
		z-index: 30;
		//border-top:1px solid $smoke!important;
		p,h1,h2,h3,h4,h5,h6,.icon,li,a {
			color:$footer-font-color;
			margin-bottom:0;
		}
		.icon {
			font-size:rem-calc(30);
		}
		.copyright {
			margin-top:rem-calc(20);
			p {
				font-size:rem-calc(14);
			}
		}
		#footerSocial {
			margin-bottom:0;
		}
		h6 {
			font-size:rem-calc(14);
			text-transform: uppercase;
			margin-bottom:rem-calc(8);
		}
		.footer-links {
			ul {
				list-style-type: none;
				margin-left:0;
				li {
					font-size:rem-calc(13);
				}
			}
		}
	}
	#mc_embed_signup,#mc_embed_signup_footer {
		input, button {
			width:100%;
			font-size:rem-calc(12);
		}
		h5 {
			font-size:rem-calc(11);
			font-family:$font-family-sans-serif;
			text-transform: uppercase;
			margin-bottom:rem-calc(8);
		}
		.button{
			padding:rem-calc(12 20);
		}
	}
	.mc-field-group {
		position:relative;
		.loading {
			position:absolute;
			right:5px;
			top:3px;
		}
	}
	.topper {
		position:fixed;
		display:none;
		right:4%;
		z-index:10;
		bottom:2%;
		&,a,.icon {
			font-size:rem-calc(50);
			color:$secondary-color;
			text-decoration:none!important;
		}
		.icon:hover {
			color:scale-color($primary-color, $lightness: 35%);
		}
	}

}

@media #{$small-only} {
	.screen-size {
		float:right;
	}
	.master-container {
		padding-bottom:rem-calc(531);
	}
}

@media #{$medium-up} {
	footer {
		#mc_embed_signup,#mc_embed_signup_footer {
			max-width:rem-calc(300);
			float:right;
		}
	}
	.screen-size {
		float:left;
	}
	#mc_embed_signup_footer {
		padding-top:rem-calc(50);
		width:100%;
		top:0;
		bottom:0;
	}
}

@media #{$medium-only} {
	.master-container {
		padding-bottom:rem-calc(431);
	}
}

@media #{$large-up} {
	.topper {
		display:none!important;
	}
	.screen-size {
		float:none;
	}
	.master-container {
		padding-bottom:rem-calc(200);
	}
}

@media #{$large-only} {}

@media #{$xlarge-up} {}

@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}

@media #{$xxlarge-only} {}