
@media #{$small-up} {
	footer {
		padding:rem-calc(20);
		background:$white;
		position:relative;
		border-top:1px solid $smoke!important;
		margin-top:rem-calc(40);
		p,h1,h2,h3,h4,h5,h6,.icon,li,a {
			color:$footer-font-color;
			margin-bottom:0;
		}
		.icon {
			font-size:rem-calc(30);
		}
		.copyright {
			margin-top:rem-calc(20);
			p {
				font-size:rem-calc(14);
			}
		}
		#footerSocial {
			margin-bottom:0;
		}
		h6 {
			font-size:rem-calc(14);
			text-transform: uppercase;
			margin-bottom:rem-calc(8);
		}
		.footer-links {
			ul {
				list-style-type: none;
				margin-left:0;
				li {
					font-size:rem-calc(13);
				}
			}
		}
	}
	#mc_embed_signup {
		input, button {
			width:100%;
			font-size:rem-calc(12);
		}
		h5 {
			font-size:rem-calc(14);
			text-transform: uppercase;
			margin-bottom:rem-calc(8);
		}
		.button{
			padding:rem-calc(12 20);
		}
	}
	.topper {
		position:fixed;
		display:none;
		right:2%;
		z-index:10;
		bottom:15%;
		&,a,.icon {
			font-size:rem-calc(50);
			color:$secondary-color;
			text-decoration:none!important;
		}
		.icon:hover {
			color:scale-color($primary-color, $lightness: 35%);
		}
	}

}

@media #{$small-only} {}

@media #{$medium-up} {
	footer {
		#mc_embed_signup {
			max-width:rem-calc(300);
			float:right;
		}
	}
}

@media #{$medium-only} {}

@media #{$large-up} {}

@media #{$large-only} {}

@media #{$xlarge-up} {}

@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}

@media #{$xxlarge-only} {}