
@media #{$small-up} {
	footer {
		padding:rem-calc(20);
		background:#333;
		position:relative;
		p,h1,h2,h3,h4,h5,h6,.icon {
			color:$footer-font-color;
			margin-bottom:0;
		}
		.icon {
			font-size:rem-calc(30);
		}
		.copyright {
			margin-top:rem-calc(20);
			p {
				font-size:rem-calc(14);
			}
		}
		#footerSocial {
			margin-bottom:0;
		}

	}
	.topper {
		position:fixed;
		display:none;
		right:2%;
		z-index:10;
		bottom:15%;
		&,a,.icon {
			font-size:rem-calc(50);
			color:$primary-color;
			text-decoration:none!important;
		}
		.icon:hover {
			color:scale-color($primary-color, $lightness: 35%);
		}
	}

}

@media #{$small-only} {}

@media #{$medium-up} {}

@media #{$medium-only} {}

@media #{$large-up} {}

@media #{$large-only} {}

@media #{$xlarge-up} {}

@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}

@media #{$xxlarge-only} {}