
@media #{$small-up} {
	header {
		padding:rem-calc(0);
		.alert-bar {
			background:$ghost;
			padding:10px;
			overflow:visible;
			font-family:$font-family-serif;
			position: fixed;
    		width: 100%;
    		z-index: 999;
			.row {
				position:relative;
			}
			p,li {
				margin:0;
				font-family:$font-family-serif;
				font-size:12px;
			}
			.header-menu {
				position:absolute;
				right:30px;
				ul {
					overflow:visible!important;
					li {
						margin-right:15px;
						overflow:visible;
						a {
							&:hover {
								text-decoration:underline;
							}
						}
					}
				}
				.icon {
					font-size:22px;
					overflow:visible;
					cursor:pointer;
					position:relative;
					line-height: 1.8;
					top:-10px;
				}
			}
		}
		.notice {
			font-weight:300;
			font-size:rem-calc(12);
			line-height:2;
			line-height:1.2;
			padding-top:rem-calc(7);
			text-align:center;
		}
		.top-header {
			background:$ghost;
			padding:rem-calc(10 0);
			ul {
				margin:0;
			}
		}
		.right-header {
			padding-top:rem-calc(12);
			padding-right:0;
		}

		.sub-header {
			background:$white;
			padding: rem-calc(12 0 15 0);
			img {
				width:100%;
			}
		}
		.search-container {
			position:relative;
			input {
				margin-bottom:0;
			}
			.search-button {
				border:0;
				background:transparent;
				position:absolute;
				right:8px;
				top:8px;
				padding:0;
				.icon {
					font-size:20px;
					color:$black;
				}
			}
		}
		.header-icons {
			margin-bottom:0;
			@media(max-width:rem-calc(840)) {
				li {
					margin-left:rem-calc(10);
				}
			}
			.icon {
				font-size: rem-calc(26);
				opacity:0.5;
				color:$primary-color;
				@include transition-all(0.5s);
				&:hover {
					opacity:0.8;
				}
			}
			.icon.active {
				color:$bold-blue;
			}
		}
	}
	body.interior {
		header {

		}
	}
	#adminList {
		.cart-container {
			.icon {
				color:$oil;
			}
		}
	}
	#subHeader {
		max-width:rem-calc(2000);
		padding:rem-calc(55 50 0 50);
		position:relative;
		.column:not(.right-header),.columns {
			position:static!important;
		}
	}
	#searchBar {
		position:absolute;
		display:none;
		&.toggled {
			display:block;
		}
		width:100%;
		padding:0;
		margin:0;
		background:rgba(0,0,0,0.8);
		z-index:906;
		padding:rem-calc(20)!important;
		input {
			margin:0;
			border:0;
			background:transparent;
			font-size:rem-calc(35);
			font-weight:300;
			text-align:center;
			color:$white;
		}
		.closer {
			cursor: pointer;
			position:absolute;
			right:rem-calc(20);
			top:rem-calc(15);
			&:hover {
				.icon {
					color:$white;
				}
			}
			&:active {
				.icon {
					color:$secondary-color;
				}
			}
			.icon {
				font-size:rem-calc(35);
			}
		}
	}
	.cart-toggle,.newsletter-toggle {
		cursor:pointer;
	}
	.quick-login-window {
		display:none;
		-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25);
		-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.25);
		box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.25);
		&.toggled {
			display:block;
		}
		.customer-details {
			padding:rem-calc(10 5);
			min-width:rem-calc(240);
			h3 {
				font-size:rem-calc(14);
				text-transform: capitalize;
				letter-spacing: 1px;
				margin-bottom:rem-calc(5);
				border-bottom:1px solid $smoke;
				padding-bottom:rem-calc(5);
			}
			ul {
				margin-bottom:0;
				li {
					font-size:rem-calc(15);
					padding:rem-calc(6 0);
					a {
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		position:absolute;
		z-index:9;
		max-width:rem-calc(320);
		right:rem-calc(30);
		top:rem-calc(75);
		background:$white;
		padding:rem-calc(15);
		#forgot_password {
			font-size:rem-calc(13);
			margin-bottom:rem-calc(5);
		}
		.button {
			width:100%;
			margin:0;
			height:rem-calc(45);
			padding:rem-calc(10);
			line-height:rem-calc(28);
		}
		.inline-list {
			margin:0;
			li {
				width:50%;
				margin:0;	
				padding:rem-calc(0 4);
			}
		}
	}
	#newsletterPopup {
		position:fixed;
		background:rgba($white,0.94);
		z-index:999;
		bottom:-999px;
		width:100%;
		padding:rem-calc(30 40);
		-webkit-box-shadow: 0px -5px 10px 0px rgba(50, 50, 50, 0.23);
		-moz-box-shadow:    0px -5px 10px 0px rgba(50, 50, 50, 0.23);
		box-shadow:         0px -5px 10px 0px rgba(50, 50, 50, 0.23);
		@include transition-all(0.8s);
		&.toggled {
			bottom:0;
			top:auto!important;
		}
		.signup-form {
			.blurb {
				font-size:rem-calc(13);
				margin-bottom:rem-calc(25);
			}
		}
		.newsletter-container {
			max-width:rem-calc(450);
			margin:0 auto;
		}
		.closer {
			position:absolute;
			right:rem-calc(15);
			top:rem-calc(15);
			cursor:pointer;
			.icon {
				font-size: rem-calc(30);
				color:$primary-color;
			}
			&:hover {
				.icon {
					color:$secondary-color;
				}
			}
			&:active {
				.icon {
					color:scale-color($secondary-color, 10%, 35%);
				}
			}
		}
	}
}

@media #{$small-only} {
	header {
		position:fixed;
		background:$white;
		z-index: 999;
	}
	.mobile-alert-bar {
		background:$ghost;
		padding:10px;
		overflow:visible;
		font-family:$font-family-serif;
		p {
			margin:0;
		}
	}
	#subHeader {
		padding-top:0;
	}
	.small-menu-toggle {
		background:transparent!important;
	}
	.sub-header {
		margin:rem-calc(0);
		img {
			max-width:250px!important;
		}
	}
	.main-content {
    	margin-top:217px!important;
	}
	header .right-header {
		padding-right: 0;
		position:relative!important;
		right:rem-calc(-28);

	}
	#newsletterPopup {
		.image {
			margin-bottom: rem-calc(20);
		}
	}
}

@media #{$medium-up} {
	.quick-login-window,.quick-cart-window {
		min-width:340px;
		margin-right:-20px;
		top:rem-calc(-10)!important;
	}
}

@media #{$medium-only} {}

@media #{$large-up} {
	header.full-width {
		margin-bottom: rem-calc(14);
	} 
}

@media #{$large-only} {}

@media #{$xlarge-up} {}

@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}

@media #{$xxlarge-only} {}