
@media #{$small-up} {
	header {
		&.full-width {
			margin-bottom:0!important;
		}
		padding:rem-calc(0);
		.header-quote {
			a:hover {
				text-decoration: none!important;
			}
		}
		.alert-bar {
			background:rgba($ghost,0.89);
			padding:10px;
			overflow:visible;
			font-family:$font-family-sans-serif;
			position: fixed;
    		width: 100%;
    		z-index: 999;
			.row {
				position:relative;
			}
			p,li {
				margin:0;
				font-family:$font-family-sans-serif;
				font-size:rem-calc(12);
			}
			.header-menu {
				position:absolute;
				right:rem-calc(-5);
				ul {
					overflow:visible!important;
					li {
						margin-right:rem-calc(15);
						overflow:visible;
						a {
							&:hover {
								text-decoration:underline;
							}
						}
					}
				}
				.icon {
					font-size:rem-calc(25);
					overflow:visible;
					cursor:pointer;
					position:relative;
					line-height: 1.8;
					top:rem-calc(-12);
				}
			}
		}
		.notice {
			font-weight:300;
			font-size:rem-calc(12);
			line-height:2;
			line-height:1.2;
			padding-top:rem-calc(7);
			text-align:center;
		}
		.top-header {
			background:$ghost;
			padding:rem-calc(10 0);
			ul {
				margin:0;
			}
		}
		.right-header {
			padding-top:rem-calc(10);
			padding-right:0;
		}

		.sub-header {
			background:$white;
			padding: 0;
			img {
				width:100%;
			}
		}
		.search-container {
			position:relative;
			top:rem-calc(-4);
			input {
				margin-bottom:0;
				margin-top:rem-calc(0);
				padding:rem-calc(5 10)!important;
				max-height:rem-calc(25);
				background:transparent;
				border-color:$primary-color;
			}
			.search-button {
				border:0;
				background:transparent;
				position:absolute;
				right:rem-calc(8);
				top:rem-calc(10);
				padding:0;
				.icon {
					font-size:rem-calc(16);
					font-weight:400;
					opacity:0.9;
					color:$primary-color;
				}
			}
		}
		.header-icons {
			margin-bottom:0;
			@media(max-width:rem-calc(840)) {
				li {
					margin-left:rem-calc(10);
				}
			}
			.icon {
				font-size: rem-calc(26);
				opacity:0.5;
				color:$primary-color;
				@include transition-all(0.5s);
				&:hover {
					opacity:0.8;
				}
			}
			.icon.active {
				color:$bold-blue;
			}
		}
	}
	body.interior {
		header {

		}
	}
	#adminList {
		.cart-container {
			.icon {
				color:$primary-color;
			}
		}
	}
	#subHeader {
		max-width:rem-calc(2200);
		padding:rem-calc(60 20 0 20);
		position:relative;
		.column:not(.right-header),.columns {
			position:static!important;
		}
	}
	#searchBar {
		position:absolute;
		display:none;
		&.toggled {
			display:block;
		}
		width:100%;
		padding:0;
		margin:0;
		background:rgba(0,0,0,0.8);
		z-index:906;
		padding:rem-calc(20)!important;
		input {
			margin:0;
			border:0;
			background:transparent;
			font-size:rem-calc(35);
			font-weight:300;
			text-align:center;
			color:$white;
		}
		.closer {
			cursor: pointer;
			position:absolute;
			right:rem-calc(20);
			top:rem-calc(15);
			&:hover {
				.icon {
					color:$white;
				}
			}
			&:active {
				.icon {
					color:$secondary-color;
				}
			}
			.icon {
				font-size:rem-calc(35);
			}
		}
	}
	.cart-toggle{
		position: relative;
    	top: rem-calc(-2);
	}
	.cart-toggle,.newsletter-toggle {
		cursor:pointer;
	}
	.quick-login-window {
		display:none;
		-webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25);
		-moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.25);
		box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.25);
		&.toggled {
			display:block;
		}
		.customer-details {
			padding:rem-calc(10 5);
			min-width:rem-calc(240);
			h3 {
				font-size:rem-calc(14);
				text-transform: capitalize;
				letter-spacing: 1px;
				margin-bottom:rem-calc(5);
				border-bottom:1px solid $smoke;
				padding-bottom:rem-calc(5);
			}
			ul {
				margin-bottom:0;
				li {
					font-size:rem-calc(15);
					padding:rem-calc(6 0);
					a {
						&:hover {
							text-decoration: underline;
						}
					}
				}
			}
		}
		position:absolute;
		z-index:9;
		max-width:rem-calc(320);
		right:rem-calc(30);
		top:rem-calc(75);
		background:$white;
		padding:rem-calc(15);
		#forgot_password,#forgot_password_header {
			font-size:rem-calc(13);
			margin-bottom:rem-calc(5);
		}
		.button {
			width:100%;
			margin:0;
			height:rem-calc(45);
			padding:rem-calc(10);
			line-height:rem-calc(28);
		}
		.inline-list {
			margin:0;
			li {
				width:50%;
				margin:0;	
				padding:rem-calc(0 4);
			}
		}
	}
}

@media #{$small-only} {
	header {
		position:fixed;
		background:$white;
		z-index: 99;
		&.toggled {
			//position:absolute;
		}
		&,&.full-width {
			border-bottom:1px solid $mist;
		}
	}
	body#account {
		header {
			z-index:999!important;
		}
	}
	.mobile-alert-bar {
		background:$ghost;
		padding:rem-calc(10);
		overflow:visible;
		font-family:$font-family-serif;
		p {
			margin:0;
			font-size:rem-calc(10);
		}
	}
	#subHeader {
		padding-top:0;
	}
	.small-menu-toggle {
		background:transparent!important;
	}
	.sub-header {
		margin:rem-calc(0);
		margin-bottom:rem-calc(20);
		margin-top:rem-calc(10);
		img {
			
		}
		a {
			position:relative;
			z-index:999;
		}
	}
	.small-menu-toggle {
		padding-top:rem-calc(10);
	}
	header .right-header {
		padding-right: 0;
		position:relative!important;
		

	}
	.search-mobile.search-container {
		input {
			max-height:none;
		}
		.search-button {
			top:rem-calc(4);
		}
	}
	.sub-header {
		margin:rem-calc(-40 0 20 0);
		.logo {
			max-width:30%!important;
		}
	}
}
@media (max-width:1060px) {
	.alert-bar {
		.text-center {
			text-align:left!important;
		}
	}
}

@media #{$medium-up} {
	.quick-login-window,.quick-cart-window {
		min-width:rem-calc(340);
		margin-right:rem-calc(-20);
		top:rem-calc(39);
		position:fixed;
		max-width: rem-calc(440);
    	width: 100%;
	}
	header .sub-header {
		padding:0;
	}
	nav.full-width,#adminList {
		 margin-top: rem-calc(-10);
	}
}

@media #{$medium-only} {}

@media #{$large-up} {
	header.full-width {
		margin-bottom: rem-calc(14);
	} 
}

@media #{$large-only} {}

@media #{$xlarge-up} {
	.header-quote {
		margin-left:rem-calc(-100);
    	max-width: rem-calc(400);
	}
}

@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}

@media #{$xxlarge-only} {}