
@media #{$small-up} {
	header {
		padding:rem-calc(0);
		.notice {
			font-weight:300;
			font-size:rem-calc(13);
			line-height:1.6;
			text-align:center;
		}
		.top-header {
			background:$ghost;
			padding:rem-calc(10 0);
			ul {
				margin:0;
			}
		}
		.sub-header {
			background:$white;
			padding:rem-calc(30 0 20 0)
		}
	}
}

@media #{$small-only} {}

@media #{$medium-up} {}

@media #{$medium-only} {}

@media #{$large-up} {}

@media #{$large-only} {}

@media #{$xlarge-up} {}

@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}

@media #{$xxlarge-only} {}