@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300,100);
@import url("//hello.myfonts.net/count/30861a");
@import "settings";
@import "normalize";
@import "icons";

//@import "foundation";

@function image-url($url, $nada, $nada2) { @return url("../img/" + $url); }

// selectively include foundation components 
@import "foundation/components/accordion";
@import "foundation/components/alert-boxes";
 @import "foundation/components/block-grid";
//  @import "foundation/components/breadcrumbs";
//  @import "foundation/components/button-groups";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
@import "foundation/components/dropdown";
//  @import "foundation/components/dropdown-buttons";
@import "foundation/components/flex-video";
@import "foundation/components/forms";
@import "foundation/components/grid";
@import "foundation/components/inline-lists";
//  @import "foundation/components/joyride";
//  @import "foundation/components/keystrokes";
//  @import "foundation/components/labels";
//  @import "foundation/components/magellan";
//  @import "foundation/components/orbit";
//  @import "foundation/components/pagination";
@import "foundation/components/panels";
//  @import "foundation/components/pricing-tables
//  @import "foundation/components/progress-bars";
@import "foundation/components/reveal";
@import "foundation/components/side-nav";
//  @import "foundation/components/split-buttons";
//  @import "foundation/components/sub-nav";
//  @import "foundation/components/switch";
@import "foundation/components/tables";
@import "foundation/components/tabs";
//  @import "foundation/components/thumbs";
//  @import "foundation/components/tooltips";
//  @import "foundation/components/top-bar";
@import "foundation/components/type";
//  @import "foundation/components/offcanvas";
@import "foundation/components/visibility";
@import "mixins";
@import "main-nav";

/* split file here */
@import "header";
@import "hero";
@import "forms";
@import "tables";
@import "products";
@import "sidebar";


@media #{$small-up} {
  //stuff here
  //wrap this around a row if you need a background to go 100% width of screen
  ::-webkit-input-placeholder {
     color: $iron;
     font-weight:200;
  }

  :-moz-placeholder { /* Firefox 18- */
     color: $iron;
     font-weight:200;  
  }

  ::-moz-placeholder {  /* Firefox 19+ */
     color: $iron;
     font-weight:200;  
  }

  :-ms-input-placeholder {  
     color: $iron;
     font-weight:200;  
  }
  //controls the hovering of images based on alt text
  .hover-image {
    display:inline-block;
    position:relative;
    cursor:pointer;
    .caption {
      position:absolute;
      width:100%;
      text-align:center;
      opacity:0;
      top:0;
      bottom:0;
      background:rgba(255,255,255,0.6);
      border-radius:6px;
      -webkit-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -o-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      .text {
        display:block;
          max-width:100%;
          position:absolute;
          top: 50%;
          width:100%;
          padding:10px 0;
          background:rgba(255,255,255,0.7);
          transform: translateY(-50%);
          -webkit-transform: translateY(-50%);
          -moz-transition: translateY(-50%);
          -o-transition: translateY(-50%);
      }
    }
    &:hover {
      .caption {
        opacity:1;
      }
    }
  }
  #page {
    z-index:8;
    margin-top:rem-calc(50);
    .page-title,.blog-title {
        text-align: center;
        padding-bottom: rem-calc(5);
        margin-bottom: rem-calc(20);
        border-bottom: 1px solid #f0f0f0;
        text-transform: uppercase;
        letter-spacing: 0.25em;
        font-weight: 400;
        color: $jumbo;
        font-size:rem-calc(20);
    }
  }
  .panel {
    border-radius:rem-calc(10);
    -moz-border-radius:rem-calc(10);
    p,small {
      line-height:1.56;
      font-size:rem-calc(14);
    }
  }
  #content {
    min-height: 400px;
  }
  ul.grid {
    list-style-type: none;
    margin:0;
    padding:0;
    li {

    }
  }
  .grid {
    z-index: 9;
  }
  .grid-sizer,
  .grid-item { 
      width: 100%; 
      padding:rem-calc(10 10 10 10);
  }

  .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0,0,0,0);
      border: 0;
  }
  .full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
    border:0;
  }
  .master-container {
    overflow:hidden;
  }
  .content-col {
    padding:rem-calc(30 20 30 10);
  }
  .content {
    &.row {
      margin-top:rem-calc(60);
      margin-bottom:rem-calc(60);
    }
  }
  hr {
    border-color:$snow;
  }
  form .errors {
     text-align:center;
     padding:rem-calc(10);
     border-radius:rem-calc(10);
     -moz-border-radius:rem-calc(10);
     background:$oil;
     margin-bottom: rem-calc(20);
     ul {
      list-style-type:none;
      padding:0;
      margin:0;
      margin-bottom:0;
     }
  }

  .row.blocks {
    margin-top:rem-calc(23);
    margin-bottom:rem-calc(23);
    .column {
      position:relative;
    }
  }
  p.small {
    font-size:75%;
  }
  .button {
    background:$white;
    border:1px solid $primary-color;
    color:$primary-color;
    font-size:rem-calc(12);
    min-width:rem-calc(120);
    text-transform: uppercase;
    &.secondary {
      border:0;
    }
    &.large {
      font-size:rem-calc(16);
      font-weight:300;
    }
    &:hover {
      background:$primary-color;
      color:$white;
    }
  }
}
//Accordion stuff 
  .accordion {
    margin-bottom:rem-calc(30);
    .accordion-navigation {
      margin-bottom: 4px;
      position:relative;
      &:after {
        @extend .icon:before;
        @extend .icon-plus:before;
        position:absolute;
        right:rem-calc(20);
        font-size:20px;
        top:rem-calc(10);
      }
      &.active {
        &:after {
          @extend .icon-minus:before;
          font-size:23px;
        }
      }
    }
  }

@media #{$small-only} {
  .row.blocks {
    .column,.columns {
      padding-top:rem-calc(30);
    }
  }
  body.fixed {
    overflow:hidden;
  }
}

@media #{$medium-up} {
  .row.blocks {
    .column {
      position:relative;
      .text-editor {
        @include vertical-align(relative);
      }
    }
  }
  .grid-sizer,.grid-item { 
      width: 50%; 
  }
}

@media #{$medium-only} {}

@media #{$large-up} {
  .grid {
    .grid-sizer,.grid-item { 
        width: 33%;
    }
    &.four {
      .grid-sizer,.grid-item {
        width:25%;
      }
    }
  }
}

@media #{$large-only} {}

@media #{$xlarge-up} {}

@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}

@media #{$xxlarge-only} {}

@import "blog";
@import "slick";
@import "cart";
@import "type";
@import "footer";
