
@import "settings";
@import "normalize";
@import "colors";

//@import "foundation";

@function font-url($url) {
  @return url("../fonts/" + $url);
}
@function image-url($url, $nada, $nada2) {
  @return url("../img/" + $url);
}



// selectively include foundation components 
@import "foundation/components/accordion";
@import "foundation/components/alert-boxes";
 @import "foundation/components/block-grid";
//  @import "foundation/components/breadcrumbs";
//  @import "foundation/components/button-groups";
@import "foundation/components/buttons";
@import "foundation/components/clearing";
//  @import "foundation/components/dropdown";
//  @import "foundation/components/dropdown-buttons";
  @import "foundation/components/flex-video";
@import "foundation/components/forms";
@import "foundation/components/grid";

@import "foundation/components/inline-lists";
//  @import "foundation/components/joyride";
//  @import "foundation/components/keystrokes";
//  @import "foundation/components/labels";
//  @import "foundation/components/magellan";
//  @import "foundation/components/orbit";
//  @import "foundation/components/pagination";
@import "foundation/components/panels";
//  @import "foundation/components/pricing-tables
//  @import "foundation/components/progress-bars";
@import "foundation/components/reveal";
@import "foundation/components/side-nav";
//  @import "foundation/components/split-buttons";
//  @import "foundation/components/sub-nav";
//  @import "foundation/components/switch";
@import "foundation/components/tables";
@import "foundation/components/tabs";
//  @import "foundation/components/thumbs";
//  @import "foundation/components/tooltips";
//  @import "foundation/components/top-bar";
@import "foundation/components/type";

//  @import "foundation/components/offcanvas";
@import "foundation/components/visibility";
@import "slick";
@import "main-nav";
@import "_icons";

/* split file here */
@import "hero";

@media #{$small-up} {
  //stuff here
  //wrap this around a row if you need a background to go 100% width of screen
  .full-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
  }
  .master-container {
    overflow:hidden;
  }
  .content-col {
    padding:rem-calc(30 20 30 10);
  }
  .right-col {
    padding-top:rem-calc(30);
    img {
      margin-top:rem-calc(15);
      margin-bottom: rem-calc(15);
    }
  }
  p.small {
    font-size:75%;
  }
}

@media #{$small-only} {}

@media #{$medium-up} {}

@media #{$medium-only} {}

@media #{$large-up} {}

@media #{$large-only} {}

@media #{$xlarge-up} {}

@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}

@media #{$xxlarge-only} {}

@import "footer";