$background-color: $white;
$background-color-toggle: $primary-color;
$background-color-secondary: $white;
$background-color-hover: $white;
$text-color: $primary-color;
$text-hover: $primary-color;
$menu-direction: left;

@media #{$small-up} {
  nav {
    background-color: rgba($background-color,0.8);
  }
  .main-nav {
    margin: 0 auto;
    a {
      color: $text-color;
    }
    li {
      list-style: none;
    }
    > li {
      text-align:center;
      >a {
        letter-spacing: 0.5em;
        text-transform: uppercase;
        font-size:rem-calc(15);
      }
      a {
        display: block;
        padding: .5rem;
        font-weight:200;
        font-size:rem-calc(14);
        &:hover {
          color: $text-hover;
        }
      }
      > ul {
        display: none;
        background:rgba($white,0.95);
        padding:rem-calc(10);
        padding:0;
        margin: 0;
        > li {
          text-align:left;
          > a {
            display: block;
            padding: .5rem;
          }
        }
      }
    }
    .mega-menu {
      padding:rem-calc(30 10 20 10);
      z-index:999;
      //background:$offwhite;
      -webkit-box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25);
      -moz-box-shadow:    0px 5px 10px 0px rgba(50, 50, 50, 0.25);
      box-shadow:         0px 5px 10px 0px rgba(50, 50, 50, 0.25);
      h3 {
        font-size:rem-calc(16);
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        margin-bottom:rem-calc(8);
        font-weight:500;
      }
      li {
        ul {
          margin:0!important;
          li {
            a {
              padding:rem-calc(1);
            }
          }
        }
      }
    }

  }
  .header-quote {
    blockquote,a {
      font-size:rem-calc(14)!important;
      font-style:italic!important;
      padding-left:0;
    }
  }
}

//small only
@media #{$small-only} {
  .main-nav .mega-menu {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-left: rem-calc(47);
    max-height: 74vh;
    overflow: scroll;
  }
  nav > .row > .columns {
    padding: 0;
  }
  .small-menu-toggle {
    background-color: $white;
    cursor: pointer;
    position:absolute;
    left:rem-calc(10);
    top:rem-calc(2);
    z-index:999;
    color: $primary-color;
    text-align: center;
    display: block;
    padding: 1rem;
    .icon, .text {
      display:inline-block;
    }
    .icon {
      font-size:rem-calc(25);
    }
    .text {
      margin-bottom:0;
      margin-left:rem-calc(8);
      position:relative; 
      top:rem-calc(-5);
    }
  }
  .main-nav-wrap {
    position: absolute;
    overflow: hidden;
    z-index: 999;
    left:0;
    margin-top: rem-calc(-2);
    background:$white;
    width: 100%;
    height: 0;
    &.toggled {
      height: auto;
      padding: rem-calc(40 0 40 0);
      -webkit-box-shadow: 0px 10px 12px 0px rgba(50, 50, 50, 0.43);
      -moz-box-shadow:    0px 10px 12px 0px rgba(50, 50, 50, 0.43);
      box-shadow:         0px 10px 12px 0px rgba(50, 50, 50, 0.43);
      .main-nav {
        @if $menu-direction == left {
          left: 0;
        }
        @else {
          right: 0;
        }
      }
    }
  }
  .main-nav {
    top: 0;
    float: none;
    background:$white;
    position: relative;
    margin: 0;
    width: 100%;
    @if $menu-direction == left {
      left: -100%;
    }
    @else {
      right: -100%;
    }
    transition: $menu-direction 0.3s ease-in-out;
    z-index: 1;
    ul.active {
      display: block;
    }
    > li {
      padding-top:rem-calc(10);
      padding-bottom:rem-calc(10);
      border-top:rem-calc(1) solid $snow;
      > ul {
        display: none;
        overflow: hidden;
      }
      > ul > li a {
        //background-color: $background-color-secondary;
        color: $text-color;
        padding-left: 1.5rem;
      }
    }
  }
  .account-mobile {
    text-transform: uppercase;
    display: block;
    padding: 0.5rem;
    font-weight: 200;
    font-size: rem-calc(14);
    letter-spacing:0.5rem;
    padding-top: rem-calc(10);
    padding-bottom: rem-calc(10);
    border-top: rem-calc(1) solid $snow;
    a {
      padding:rem-calc(10);
      display:block;
    }
  }
  .account-mobile,.search-mobile {
    text-align:center;
  }
  .search-mobile {
    font-size:rem-calc(16);
    font-style:italic;
    margin-top:rem-calc(30);
    form {
      position:relative;
      margin:0 auto;
      width:80%;
      button {
        color:$primary-color;
        font-size:rem-calc(28);
      }
    }
    input {
      text-align:center;
      
    }
  }
}

//medium up
@media #{$medium-up} {
  nav {
    .small-12.columns {
      position:static;
    }
  }
  .header-quote {
    @include vertical-align(absolute);
  }
  .main-nav {
    background-color: $background-color;
    > li {
      width: auto;
      padding-right:rem-calc(30);
      &:first-of-type {
        >a {
          position:relative;
          padding-left:rem-calc(45);
          &:after {
            content:" ";
            border-right:1px solid $primary-color;
            position:absolute;
            right:rem-calc(-12);
            top:rem-calc(20);
            height:rem-calc(30);
          }
        }
      }
      &:last-of-type {
        >a {
          padding-right:rem-calc(45);
        }
      }
      >a {
        padding: rem-calc(26 0 30 0);
        outline:0;
      }
      float: left;
      > ul {
        position: absolute;
        width: 100%;
        margin: 0;
        top:94%;
        z-index: 9;
        > li {

        }
      }
      &:hover ul {
        display: block;
      }
    }
    .mega-menu {
      padding:rem-calc(20 40);
      left:0;
    }
  }
}

@media #{$large-up} {
  nav {
    &.full-width {
      margin-left: -2%;
    }
  }
}

@media #{$xlarge-up} {
    nav {
    &.full-width {
      margin-left: -4%;
    }
  }
}

@media #{$xxlarge-up} {
  nav {
    &.full-width {
      margin-left: -10%;
    }
  }
}