@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin transition-all($speed: 1s) {
	-webkit-transition: all $speed ease-in-out;
	-moz-transition: all $speed ease-in-out;
	-o-transition: all $speed ease-in-out;
	transition: all $speed ease-in-out;
}

/* Webkit, Chrome and Safari */

@-webkit-keyframes bounce {
  0% {
	-webkit-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-webkit-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-webkit-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-webkit-transform:translateY(-50%);
  }
  40% {
  	-webkit-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-webkit-transform:translateY(-30%);
  }
  70% {
  	-webkit-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-webkit-transform:translateY(-15%);
  }
  90% {
  	-webkit-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-webkit-transform:translateY(-10%);
  }
  97% {
  	-webkit-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-webkit-transform:translateY(-5%);
  }
  100% {
  	-webkit-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* Mozilla Firefox 15 below */
@-moz-keyframes bounce {
  0% {
	-moz-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-moz-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-moz-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-moz-transform:translateY(-50%);
  }
  40% {
  	-moz-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-moz-transform:translateY(-30%);
  }
  70% {
  	-moz-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-moz-transform:translateY(-15%);
  }
  90% {
  	-moz-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-moz-transform:translateY(-10%);
  }
  97% {
  	-moz-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-moz-transform:translateY(-5%);
  }
  100% {
  	-moz-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* Opera 12.0 */
@-o-keyframes bounce {
  0% {
	-o-transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	-o-transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	-o-transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	-o-transform:translateY(-50%);
  }
  40% {
  	-o-transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	-o-transform:translateY(-30%);
  }
  70% {
  	-o-transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	-o-transform:translateY(-15%);
  }
  90% {
  	-o-transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	-o-transform:translateY(-10%);
  }
  97% {
  	-o-transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	-o-transform:translateY(-5%);
  }
  100% {
  	-o-transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
	transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	transform:translateY(-50%);
  }
  40% {
  	transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	transform:translateY(-30%);
  }
  70% {
  	transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	transform:translateY(-15%);
  }
  90% {
  	transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	transform:translateY(-7%);
  }
  97% {
  	transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	transform:translateY(-3%);
  }
  100% {
  	transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@-moz-keyframes shake {
  10%, 90% {
    -moz-transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    -moz-transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -moz-transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -moz-transform: translate3d(4px, 0, 0);
  }
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
  }
}

@media only screen and (min-width: 90.063em) {
  .xlarge-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .xlarge-block-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .xlarge-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .xlarge-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .xlarge-block-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .xlarge-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .xlarge-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
    .xlarge-block-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .xlarge-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .xlarge-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .xlarge-block-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .xlarge-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .xlarge-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .xlarge-block-grid-5 > li:nth-of-type(n) {
      clear: none; }
    .xlarge-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .xlarge-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
    .xlarge-block-grid-6 > li:nth-of-type(n) {
      clear: none; }
    .xlarge-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .xlarge-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
    .xlarge-block-grid-7 > li:nth-of-type(n) {
      clear: none; }
    .xlarge-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .xlarge-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .xlarge-block-grid-8 > li:nth-of-type(n) {
      clear: none; }
    .xlarge-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .xlarge-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
    .xlarge-block-grid-9 > li:nth-of-type(n) {
      clear: none; }
    .xlarge-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .xlarge-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .xlarge-block-grid-10 > li:nth-of-type(n) {
      clear: none; }
    .xlarge-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .xlarge-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
    .xlarge-block-grid-11 > li:nth-of-type(n) {
      clear: none; }
    .xlarge-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .xlarge-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
    .xlarge-block-grid-12 > li:nth-of-type(n) {
      clear: none; }
    .xlarge-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }
@media only screen and (min-width: 120.063em) {
  .xxlarge-block-grid-1 > li {
    width: 100%;
    list-style: none; }
    .xxlarge-block-grid-1 > li:nth-of-type(n) {
      clear: none; }
    .xxlarge-block-grid-1 > li:nth-of-type(1n+1) {
      clear: both; }

  .xxlarge-block-grid-2 > li {
    width: 50%;
    list-style: none; }
    .xxlarge-block-grid-2 > li:nth-of-type(n) {
      clear: none; }
    .xxlarge-block-grid-2 > li:nth-of-type(2n+1) {
      clear: both; }

  .xxlarge-block-grid-3 > li {
    width: 33.33333%;
    list-style: none; }
    .xxlarge-block-grid-3 > li:nth-of-type(n) {
      clear: none; }
    .xxlarge-block-grid-3 > li:nth-of-type(3n+1) {
      clear: both; }

  .xxlarge-block-grid-4 > li {
    width: 25%;
    list-style: none; }
    .xxlarge-block-grid-4 > li:nth-of-type(n) {
      clear: none; }
    .xxlarge-block-grid-4 > li:nth-of-type(4n+1) {
      clear: both; }

  .xxlarge-block-grid-5 > li {
    width: 20%;
    list-style: none; }
    .xxlarge-block-grid-5 > li:nth-of-type(n) {
      clear: none; }
    .xxlarge-block-grid-5 > li:nth-of-type(5n+1) {
      clear: both; }

  .xxlarge-block-grid-6 > li {
    width: 16.66667%;
    list-style: none; }
    .xxlarge-block-grid-6 > li:nth-of-type(n) {
      clear: none; }
    .xxlarge-block-grid-6 > li:nth-of-type(6n+1) {
      clear: both; }

  .xxlarge-block-grid-7 > li {
    width: 14.28571%;
    list-style: none; }
    .xxlarge-block-grid-7 > li:nth-of-type(n) {
      clear: none; }
    .xxlarge-block-grid-7 > li:nth-of-type(7n+1) {
      clear: both; }

  .xxlarge-block-grid-8 > li {
    width: 12.5%;
    list-style: none; }
    .xxlarge-block-grid-8 > li:nth-of-type(n) {
      clear: none; }
    .xxlarge-block-grid-8 > li:nth-of-type(8n+1) {
      clear: both; }

  .xxlarge-block-grid-9 > li {
    width: 11.11111%;
    list-style: none; }
    .xxlarge-block-grid-9 > li:nth-of-type(n) {
      clear: none; }
    .xxlarge-block-grid-9 > li:nth-of-type(9n+1) {
      clear: both; }

  .xxlarge-block-grid-10 > li {
    width: 10%;
    list-style: none; }
    .xxlarge-block-grid-10 > li:nth-of-type(n) {
      clear: none; }
    .xxlarge-block-grid-10 > li:nth-of-type(10n+1) {
      clear: both; }

  .xxlarge-block-grid-11 > li {
    width: 9.09091%;
    list-style: none; }
    .xxlarge-block-grid-11 > li:nth-of-type(n) {
      clear: none; }
    .xxlarge-block-grid-11 > li:nth-of-type(11n+1) {
      clear: both; }

  .xxlarge-block-grid-12 > li {
    width: 8.33333%;
    list-style: none; }
    .xxlarge-block-grid-12 > li:nth-of-type(n) {
      clear: none; }
    .xxlarge-block-grid-12 > li:nth-of-type(12n+1) {
      clear: both; } }

.spacer-10,.spacer-20,.spacer-30,.spacer-40,.spacer-50,.spacer-60,.spacer-70 {
  display:block;
  width:100%;
  padding:0!important;
  margin:0!important;
}

.spacer-10 {
  height:rem-calc(10);
}
.spacer-20 {
  height:rem-calc(20);
}
.spacer-30 {
  height:rem-calc(30);
}
.spacer-40 {
  height:rem-calc(40);
}
.spacer-50 {
  height:rem-calc(50);
}
.spacer-60 {
  height:rem-calc(60);
}
.spacer-70 {
  height:rem-calc(70);
}