@import "swatches";
@media #{$small-up} {
    .diversity-panel-container {
     img {width:100%;}
    }
    #product-description {
        max-width:rem-calc(650);
        margin:0 auto;
    }
    .diversity-panel {
        background:$secondary-color;
        margin-bottom:rem-calc(40);
        .diversity-panel-details {
            max-width:90%;
            margin:0 auto;
            li {
                a {
                    padding:rem-calc(20 40);
                }
                text-align:center;
                &,p,h1,h2,h3,h4,h5,h6 {
                    color:$primary-color;
                }
                border-right:1px solid rgba($smoke,0.2);
                &:last-of-type {
                    border-right:0;
                }
            }
            .person-height,.person-weight {
                font-size:rem-calc(15);
            }
            .person-name {
                font-family:$font-family-sans-serif;
                font-size:rem-calc(20)!important;
            }
            .person-weight {}
        }
    }
    .product__fabric {
        a {
            &:after {
                content: " / ";
            }
            &:last-of-type {
                &:after {
                    content:"";
                }
            }
        }
    }
    .user-image-slider {
        .slick-slide {
            img {
                border:4px solid $white;
                max-height: rem-calc(200);
                width: auto;
            }
        }
    }
    .soldout-text {
        font-size: rem-calc(12);
        text-transform: capitalize;
    }
    #product-navigation{
        .section-title.lines {
            position: relative;
            text-align: center;
            margin-top: rem-calc(5);
            margin-bottom: rem-calc(10);
        }
        .section-title.lines:after {
            content: '';
            width: 100%;
            display: inline-block;
            border-bottom: 1px solid $snow;
            position: absolute;
            left: 0;
            top: 50%;
            z-index: 0;
        }
        .section-title.lines h4 {
            display: inline-block;
            text-transform: uppercase;
            padding: rem-calc(8 23);
            margin: 0;
            background-color: $white;
            position: relative;
            z-index: 1;
            text-transform: uppercase;
            letter-spacing: 0.25em;
            font-weight: 400;
            font-size:rem-calc(16);
        }
        .prev-prod, .next-prod {
            display: inline-block;
        }
        .prev-prod {
            margin-right: rem-calc(10);
        }
        #back-forth {
          text-align:center;
          font-size:rem-calc(14);
          color:$secondary-color;
        }
    }
    #product-variants, .selector-wrapper, .select {
        display:none;
    }
    .ask-a-question-product {
        font-size:rem-calc(12);
        position:relative;
        top:0;
        padding-bottom: rem-calc(12);
    }
    .product-price {
        letter-spacing: rem-calc(1);
        font-style:italic;
    }
    .icn {
        -webkit-transition: opacity 2s ease-out;
        width: rem-calc(10);
        height: rem-calc(50);
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        position: absolute;
        top: rem-calc(10);
        min-width:rem-calc(80);
        right: rem-calc(10);
        text-align: center;
        line-height: rem-calc(50);
        font-size: rem-calc(11);
    }

    .so {
        z-index: 3;
        color: $white;
        background: $primary-color;
    }
    #product-loop li {
        @include transition-all(0.5s);
    }
    #product-loop .product-index {
        margin: rem-calc(0 5 10);
        border-radius: 0;
        overflow: hidden;
        background: $white;
    }
    .product-index-inner {
        position: relative;
    }
    .product-info-inner {
        width: 96%;
        margin: 0 auto;
    }
    //Single Product Pages
    .product__sideimages {
        padding:0;
        ul {
            li {
                position:relative;
                &:after {   
                    position:absolute;
                    content:" ";
                    left:0;
                    width:100%;
                    border:rem-calc(3) solid $white;
                    bottom:rem-calc(-1);
                    z-index:3;
                }
                &:last-of-type {
                    &:after {
                        display:none;
                    }
                }
            }
        }
        .active img {
            border: 0 !important;
            opacity:0.5;
        }
    }
    .product__mainimage {
        cursor:-webkit-zoom-in;
        img:not(.zoomImg) {
            max-height:rem-calc(900);
        }
    }
    .product__details {
        border-bottom:$snow 1px solid;
        margin-bottom:rem-calc(20)!important;
    }
    .product__description {
        padding:rem-calc(30);
        .product__title{
            margin-bottom:0;
            font-weight:500;
        }
        .product__fabric {
            text-transform: capitalize;
            font-size:rem-calc(15);
            letter-spacing: rem-calc(1);
        }
        .product__price{}
        .product__sizepicker,.product__colorpicker {
            h4 {
                font-size:rem-calc(12);
            }
        }
        .product__colorpicker{}
        .product__sizepicker{}
        .product__add{
            padding-bottom:rem-calc(10);
            .button {
                @include buttonStyle();
            }
            .disabled {
                background:$white!important;
                color:$primary-color;
                border:1px solid $primary-color;
                &:hover,&:active,&:focus {
                    color:$primary-color!important;
                }
            }
        }
        .ask-a-question-product {
            font-style:italic;
        }
    }
    //widget-product-upsell -RELATED PRODUCTS
    .related-products {
        * {
            font-size: rem-calc(12);
            text-align: center;
            padding: 0;
        }
        h4 {
            border: none;
            margin: rem-calc(10 0 0 0);
            line-height: 1.8;
        }
    }
    .section-title {
        &.lines {
            position: relative;
            text-align: center;
            margin-top: rem-calc(5);
            margin-bottom: rem-calc(10);
            &:after {
                content: '';
                width: 100%;
                display: inline-block;
                border-bottom: 1px solid $snow;
                position: absolute;
                left: 0;
                top: 50%;
                z-index: 0;
            }
            h4 {
                display: inline-block;
                text-transform: uppercase;
                font-size:rem-calc(14);
                padding: rem-calc(8 23);
                margin: 0;
                background-color: $white;
                position: relative;
                z-index: 1;
            }
        }
    }
    .product-single-extras {
        .full-width.image-slideshow {
            margin-bottom:rem-calc(20);
            margin-top:rem-calc(0);
            .slick-sider {
                margin-bottom:0!important;
            }
        }
    }
    .image-slideshow .slider.slick-initialized.slick-slider.slick-dotted {
        margin-bottom: 0;
    }
    .product__modals {
        ul {
            max-width:rem-calc(320);
            margin:0 auto;
            li {
                font-size:rem-calc(14);
                @media #{$small-only} {
                    font-size:rem-calc(12);
                }
                position:relative;
                &:after {
                    content:"|";
                    color:$primary-color;
                    position:absolute;
                    right:rem-calc(-12);
                    top:0;
                }
                &:last-of-type {
                    &:after {
                        content:"";
                    }
                }
            }
        }
    }
    div#product-collection {
        min-height: rem-calc(500);
    }
    .related-products.product-slider{
        img {
            max-width:rem-calc(300);
            margin:0 auto;
        }
    }
}

@media #{$small-only} {
    .product-index {
        text-align:center;
        img {
            margin:0 auto;
        }
    }
    .product__sideimages {
        margin-top:rem-calc(5);
        ul {
            li {
                display:inline-block;
                width:15.80%;
            }
        }
    }

    .image-slideshow {
        margin-bottom:0!important;
        .slider {
            margin-bottom:rem-calc(0)!important;
        }
    }
    div#product-collection {
        text-align:center;
        .small-block-grid-1 {
            display: inline-block;
            margin: 0 auto;
        }
    }
    .product__sideimages,.product__mainimage {
        text-align:center;
    }
    .product__sideimages ul li:after {
        display:none;
    }
    .user-imageslider-container {
        padding-right:rem-calc(30);
        padding-left:rem-calc(30);
        .user-image-slider {
            margin-bottom:0;
        }
    }
}

@media #{$medium-up} {
    .product__add{ 
        margin-top:rem-calc(41.4)!important;
    }
    .product__fabric {
        margin-bottom:rem-calc(10);
    }
    .product__mainimage {
        padding-right: rem-calc(6);
    }
}

@media #{$medium-only} {}

@media #{$large-up} {}

@media #{$large-only} {}

@media #{$xlarge-up} {
    
    .image-toggle-container {
        max-width: rem-calc(773)!important;
        margin: 0 auto!important;
    }
}

@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}

@media #{$xxlarge-only} {}