.swatch {
    .button {
        &:after {
            @extend .icon:before;
            @extend .icon-down-arrow:before;
        }
        &.open {
            &:after {
                @extend .icon-up-arrow:before;
            }
        }
    }
}
@media #{$small-up} {
    .diversity-panel {
        background:$secondary-color;
        .diversity-panel-details {
            max-width:90%;
            margin:0 auto;
            li {
                a {
                    padding:rem-calc(20 40);
                }
                text-align:center;
                &,p,h1,h2,h3,h4,h5,h6 {
                    color:$oil;
                }
                border-right:1px solid rgba($smoke,0.2);
                &:last-of-type {
                    border-right:0;
                }
            }
            .person-height,.person-weight {
                font-size:15px;
            }
            .person-name {
                font-family:$font-family-serif;
                font-size:20px!important;
            }
            .person-weight {}
        }
    }
    .user-image-slider {
        .slick-slide {
            img {
                border:4px solid $white;
            }
        }
    }
    .soldout-text {
        font-size: rem-calc(12);
        text-transform: capitalize;
    }
    #product-navigation{
        .section-title.lines {
            position: relative;
            text-align: center;
            margin-top: rem-calc(5);
            margin-bottom: rem-calc(10);
        }
        .section-title.lines:after {
            content: '';
            width: 100%;
            display: inline-block;
            border-bottom: 1px solid $snow;
            position: absolute;
            left: 0;
            top: 50%;
            z-index: 0;
        }
        .section-title.lines h4 {
            display: inline-block;
            text-transform: uppercase;
            padding: rem-calc(8 23);
            margin: 0;
            background-color: $white;
            position: relative;
            z-index: 1;
            text-transform: uppercase;
            letter-spacing: 0.25em;
            font-weight: 400;
            font-size:rem-calc(16);
        }
        .prev-prod, .next-prod {
            display: inline-block;
        }
        .prev-prod {
            margin-right: rem-calc(10);
        }
        #back-forth {
          text-align:center;
          font-size:rem-calc(14);
          color:$secondary-color;
        }
    }
    #product-variants, .selector-wrapper, .select {
        display:none;
    }
    .ask-a-question-product {
        font-size:rem-calc(12);
        position:relative;
        top:rem-calc(-10);
    }

    .icn {
        -webkit-transition: opacity 2s ease-out;
        width: rem-calc(10);
        height: rem-calc(50);
        -moz-border-radius: 0px;
        -webkit-border-radius: 0px;
        border-radius: 0px;
        position: absolute;
        top: rem-calc(10);
        right: rem-calc(10);
        text-align: center;
        line-height: rem-calc(50);
        font-size: rem-calc(11);
    }

    .so {
        z-index: 3;
        color: $white;
        background: $jumbo;
    }
    .product-index {
        max-width: rem-calc(400);
    }
    .product-index {
        .product-info {
            padding-bottom: rem-calc(30);
        }
        .image_hover {
            position:relative;
            .variants {
                width: 100%;
                height: auto;
                position: absolute;
                bottom: 0;
                left: 0;
                background: rgba($white, 0.5);
                display: inline-flex;
                .variant {
                    width: rem-calc(25);
                    cursor:pointer;
                    height: rem-calc(25);
                    //border-radius:100%;
                    -moz-border-radius:100%;
                    display: inline-block;
                    border: 1px solid $gainsboro;
                    &.active {
                       border: 1px solid $oil; 
                    }
                }
            }
        }
    }
    .product-info {
        text-align: center;
        background: $white;
        padding-top: rem-calc(20);
        padding-bottom: rem-calc(15);
        position: relative;
        h3 {
            letter-spacing: 0.2em;
            margin-bottom: rem-calc(10);
            font-size: rem-calc(11);
        }
        a {
            text-decoration: none! important;
            text-transform: uppercase;
        }
        .onsale {
            display: inline;
            color: $alert-color;
        }
        .was {
            display: inline;
            margin-left: rem-calc(5);
        }
        .was, .product-compare-price, .compare-price {
            text-decoration: line-through;
        }
    }
    #product-loop li {
        @include transition-all(0.5s);
    }
    #product-loop .product-index {
        margin: rem-calc(0 5 10);
        border-radius: 0;
        overflow: hidden;
        background: $white;
    }
    .product-index-inner {
        position: relative;
    }
    .product-info-inner {
        width: 96%;
        margin: 0 auto;
    }
    //Single Product Pages
    .product__sideimages {
        padding:0;
        ul {
            li {
                position:relative;
                &:after {   
                    position:absolute;
                    content:" ";
                    left:0;
                    width:100%;
                    border:3px solid $white;
                    bottom:rem-calc(-1);
                    z-index:3;
                }
                &:last-of-type {
                    &:after {
                        display:none;
                    }
                }
            }
        }
        .active img {
            border: 0 !important;
            opacity:0.5;
        }
    }
    .product__mainimage {
        cursor:-webkit-zoom-in;
    }
    .product__description {
        padding:rem-calc(30);
        .product__title{
            margin-bottom:0;
        }
        .product__fabric {
            text-transform: capitalize;
            font-size:rem-calc(15);
            letter-spacing: rem-calc(1);
            margin-bottom:rem-calc(40);
        }
        .product__price{}
        .product__sizepicker,.product__colorpicker {
            h4 {
                font-size:rem-calc(12);
            }
        }
        .product__colorpicker{}
        .product__sizepicker{}
        .product__add{
            .disabled {
                background:$silver!important;
                color:$white;
                cursor:not-allowed;
            }
        }
        .swatch-element {
            label {
                margin-left:0!important;
            }
            &.os,&.os-minus,&.os-plus {
                .circle {
                    font-size:rem-calc(11.5);
                }
            }
        }
        .selected-swatch {
            position:absolute;
            top:rem-calc(3);
            left:rem-calc(10);
            .crossed-out {
                display:none;
            }
            .square,.circle {
              border:$charcoal 1px solid !important;
              background: $oil;
              color: $white;
              display:-moz-inline-stack;
              display:inline-block;
              zoom:1;
              width: rem-calc(20);
              height: rem-calc(20);
              //border-radius:100%;
              margin-right: rem-calc(6);
              margin-bottom:rem-calc(2)!important;
              *display:inline;
              /* Content must stretch all the way to borders */
              padding:0;
              /* Background color */
              background-color: $white;
              /* Spacing between buttons */
              margin:2px 5px 15px;
              /* Fake that those are buttons, i.e. clicky */
              cursor:pointer;
              /* The border when the button is not selected */
              border: $gainsboro 1px solid !important;
              /* To position the sold out graphic and tooltip */
              position:relative;
              /* Text styling */
              text-transform:uppercase;
              font-size:rem-calc(13);
              min-width:rem-calc(20) !important; 
              height:rem-calc(20) !important;
              line-height:rem-calc(20);
              white-space:nowrap;
              text-transform:uppercase;
              text-align: center;
              font-weight: 400;
            }
            .circle {
                color:$oil;
                font-size:rem-calc(10);
                letter-spacing: rem-calc(1);
                line-height:rem-calc(20);
            }
        }
        .swatch {
            margin:0 auto;
            position:relative;
            .f-dropdown {
                left:0!important;
                max-width:none;
            }
            input:checked + label {
                border:1px solid $iron;
                display:block;
                .circle {
                  border:$charcoal 1px solid !important;
                  background: $oil;
                  color: $white;
                }
            }
            input:checked + label .square {
              border:$charcoal 1px solid !important;
              background: $oil;
              color: $white;
            }
            &.sizes, &.length {
                .circle,.square {
                    display:none!important;
                }
                .soldout .text {
                    text-decoration: line-through;
                }
            }
            label {
                margin-right:0;
                margin-bottom:0!important;
                .text {
                    color:$oil;
                    font-weight:300;
                    position: relative;
                    top: rem-calc(2);
                }
                .circle {
                  /* Cross-browser inline-block */
                  display:-moz-inline-stack;
                  display:inline-block;
                  zoom:1;
                  width: rem-calc(30);
                  height: rem-calc(30);
                  margin-right: rem-calc(6);
                  margin-bottom:rem-calc(2)!important;
                  *display:inline;
                  /* Content must stretch all the way to borders */
                  padding:0;
                  /* Background color */
                  background-color: $white;
                  /* Spacing between buttons */
                  margin:rem-calc(2 5 15);
                  /* Fake that those are buttons, i.e. clicky */
                  cursor:pointer;
                  /* The border when the button is not selected */
                  border: $gainsboro 1px solid !important;
                  /* To position the sold out graphic and tooltip */
                  position:relative;
                  /* Text styling */
                  text-transform:uppercase;
                  font-size:rem-calc(13);
                  min-width:rem-calc(30) !important; 
                  height:rem-calc(30) !important;
                  line-height:rem-calc(28);
                  white-space:nowrap;
                  text-transform:uppercase;
                  text-align: center;
                  font-weight: 400;
                }
            }
            &.colors {
                .square {
                    display:-moz-inline-stack;
                    display:inline-block;
                    zoom:1;
                    margin-right: rem-calc(6);
                    display:inline-block;
                    /* Content must stretch all the way to borders */
                    padding:0;
                    /* Background color */
                    background-color: $white;
                    /* Spacing between buttons */
                    margin:rem-calc(2 5 15);
                    /* Fake that those are buttons, i.e. clicky */
                    cursor:pointer;
                    /* The border when the button is not selected */
                    border: $gainsboro 1px solid !important;
                    /* To position the sold out graphic and tooltip */
                    position:relative;
                    /* Text styling */
                    text-transform:uppercase;
                    font-size:rem-calc(13);
                    min-width:rem-calc(20) !important; 
                    height:rem-calc(20) !important;
                    line-height:rem-calc(18);
                    white-space:nowrap;
                    text-transform:uppercase;
                    text-align: center;
                    font-weight: 400;
                }
            }
            .swatch-element {
                width: 100%;
                display: inline-block;
                -webkit-transform:translateZ(0); /* webkit flicker fix */
                -webkit-font-smoothing:antialiased; /* webkit text rendering fix */
                /* To position the sold out graphic and tooltip */
                position:relative;
                &.color {
                    label {
                        margin-bottom:8px;  
                    }
                    .square {
                        display:inline-block;
                        padding:rem-calc(0 5); 
                        color: $steel;
                        margin-bottom:0;
                        -webkit-transition: background .1s ease,color .1s ease, border .1s ease;
                        -moz-transition: background .1s ease,color .1s ease, border .1s ease;
                        -o-transition: background .1s ease,color .1s ease, border .1s ease;
                        transition: background .1s ease,color .1s ease, border .1s ease;
                        //border-radius:100%;
                    }
                    .text {
                        position:relative;
                        display:inline-block;
                        top:rem-calc(-5);
                    }
                }
                .crossed-out { 
                    position: absolute;
                    max-width: rem-calc(17);
                    left: 0;
                    top: 0;
                }
                &.available {
                    .crossed-out {
                        display:none;
                    }
                }

                 label { 
                    .circle {
                        display:inline-block;
                        padding:rem-calc(0 5); color: $steel;
                        -webkit-transition: background .1s ease,color .1s ease, border .1s ease;
                        -moz-transition: background .1s ease,color .1s ease, border .1s ease;
                        -o-transition: background .1s ease,color .1s ease, border .1s ease;
                        transition: background .1s ease,color .1s ease, border .1s ease;
                        border-radius:100%;
                    }
                }
                label:hover {
                    .circle {
                        border:$charcoal 1px solid !important;
                    }
                }
                &.soldout {
                    .crossed-out { 
                        display:block; 
                    }
                    label {
                        filter: alpha(opacity=60); /* internet explorer */
                        -khtml-opacity: 0.6;      /* khtml, old safari */
                        -moz-opacity: 0.6;       /* mozilla, netscape */
                        opacity: 0.6;           /* fx, safari, opera */
                    }
                }
                &.available {
                    .crossed-out {
                        visibility: hidden;
                    }
                }
                input {
                    display:none;
                }
            }
        }
        .swatch {
            .button {
                width:100%;
                padding:rem-calc(8);
                font-size:rem-calc(10);
                &:after {
                    position:absolute;
                    right:rem-calc(10);
                    top:rem-calc(10);
                }
            }
            .f-dropdown {
                outline:0;
                padding:rem-calc(10);
                margin-top:0;
                border-top:0;
                &:after,&:before {
                    display:none;
                }
                li {
                    text-align:left;
                    margin-bottom:rem-calc(8);
                }
            }
        }
    }
    #length {
        .swatch-element label .text {
            //top:-11px;
        }
    }
    //widget-product-upsell -RELATED PRODUCTS
    .related-products {
        * {
            font-size: rem-calc(12);
            text-align: center;
            padding: 0;
        }
        h4 {
            border: none;
            margin: rem-calc(10 0 0 0);
            line-height: 1.8;
        }
    }
    .section-title {
        &.lines {
            position: relative;
            text-align: center;
            margin-top: rem-calc(5);
            margin-bottom: rem-calc(10);
            &:after {
                content: '';
                width: 100%;
                display: inline-block;
                border-bottom: 1px solid $snow;
                position: absolute;
                left: 0;
                top: 50%;
                z-index: 0;
            }
            h4 {
                display: inline-block;
                text-transform: uppercase;
                font-size:rem-calc(14);
                padding: rem-calc(8 23);
                margin: 0;
                background-color: $white;
                position: relative;
                z-index: 1;
            }
        }
    }
    .product-single-extras {
        .full-width.image-slideshow {
            margin-bottom:rem-calc(40);
            margin-top:rem-calc(0);
        }
    }
    .product__modals {
        ul {
            max-width:rem-calc(320);
            margin:0 auto;
            li {
                font-size:rem-calc(14);
                @media #{$small-only} {
                    font-size:rem-calc(12);
                }
                position:relative;
                &:after {
                    content:"|";
                    color:$black;
                    position:absolute;
                    right:rem-calc(-12);
                    top:0;
                }
                &:last-of-type {
                    &:after {
                        content:"";
                    }
                }
            }
        }
    }
    div#product-collection {
        min-height: rem-calc(500);
    }
}

@media #{$small-only} {
    .product-index {
        text-align:center;
        img {
            margin:0 auto;
        }
    }
    .product__sideimages {
        margin-top:rem-calc(5);
        ul {
            li {
                display:inline-block;
                width:15.80%;
            }
        }
    }
    div#product-collection {
        text-align:center;
        .small-block-grid-1 {
            display: inline-block;
            margin: 0 auto;
        }
    }
}

@media #{$medium-up} {}

@media #{$medium-only} {}

@media #{$large-up} {}

@media #{$large-only} {}

@media #{$xlarge-up} {}

@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}

@media #{$xxlarge-only} {}