@media #{$small-up} {
	.sticky {
      position:relative;
      @include transition-all(0s);
      //padding-top:rem-calc(50);
  	}
  #sidebarToggle {
    display:none;
  }
	#sidebar {
    .toggler {
      display:none;
    }
		h1 {
			font-size:rem-calc(20);
			text-transform: uppercase;
		  letter-spacing: 0.25em;  
      font-weight: 400;
		}
		h4 {
			text-transform: uppercase;
	    padding-bottom: rem-calc(5);
	    margin-bottom: rem-calc(5);
	    border-bottom: 1px solid $snow;
	    color:$jumbo;
	    font-size: rem-calc(14);
		}
		ul {
			margin-left:0;
			list-style-type:none;
		li {
			font-size:rem-calc(12);
			a {
				text-transform: uppercase;
			}
		}
		}
	}
}

@media #{$small-only} {
  #sidebarToggle {
    position: fixed;
    cursor:pointer;
    display:block;
    padding:rem-calc(6);
    background-color:$white;
    width:rem-calc(40);
    border:1px solid $smoke;
    height:rem-calc(125);
    z-index:100;
    top: 50%;
    &:hover {
      background:$snow;
    }
    &:active {
      background:$white;
    }
    &.toggled {
      display:none;
    }
    &:before {
      content:"Collections";
      display: block;
      position:absolute;
      left:rem-calc(-25);
      top: rem-calc(60);
      transform: rotate(90deg);
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    }
  }
  #sidebar {
    overflow: hidden;
    position: fixed;
    background-color: rgba($aluminum,0.9)!important;
    display: block;
    z-index: 999!important;
    padding:0;
    top: 90px;
    overflow: scroll;
    bottom:20px;
    width:0;
    @include transition-all(0.2s);
    .icon-circle-x {
      display:none;
    }
    .icon-arrow-right {
      display:block;
    }
    &.toggled {
      width:100%;
      padding:rem-calc(20);
      .icon-circle-x {
        display:block;
      }
      .icon-arrow-right {
        display:none;
      }
    }
    .toggler {
      display:block;
      font-size:rem-calc(30)!important;
      color:$white;
      z-index:99;
      position:absolute;
      .icon {
        cursor:pointer;
      }
      right:rem-calc(30);
      top:rem-calc(15);
      &:hover {
        color:$snow;
      }
    }
    .sticky {
      min-width:320px;
      top:auto!important;
      padding-top:0;
      &,a,h1,h2,h3,h4,h5,h6,p,li {
        color:$white!important;
      }
    }
  }
  .sticky {
    &.blog {
      top:0;
      padding-top:0;
      position:static;
      border-top:$snow 1px solid;
      padding-top:rem-calc(40);
      padding-left:20px;
      padding-right:20px;
    }
  }
}

@media #{$medium-up} {
  .sticky {
      // position:fixed;
      // top:145px;
      // max-width:240px;
      // &.blog {
      //   top:207px!important;
      // }
    }
}

@media #{$medium-only} {}

@media #{$large-up} {}

@media #{$large-only} {}

@media #{$xlarge-up} {}

@media #{$xlarge-only} {}

@media #{$xxlarge-up} {}

@media #{$xxlarge-only} {}