@charset "UTF-8";

// Default Variables

$slick-font-path: "./fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "./" !default;
$slick-arrow-color: white !default;
$slick-dot-color: $white !default;
$slick-dot-color-active: scale-color($slick-dot-color, $lightness: -15%) !default;
$slick-prev-character: '\2190' !default;
$slick-next-character: '\2192' !default;
$slick-dot-character: '\2022' !default;
$slick-dot-size: rem-calc(10) !default;
$slick-opacity-default: .75 !default;
$slick-opacity-on-hover: 1 !default;
$slick-opacity-not-active: .25 !default;


@function slick-image-url($url) {
  @if function-exists(image-url) {
    @return image-url($url, false, false);
  }
  @else  {
    @return url($slick-loader-path + $url);
  }
}

@function slick-font-url($url) {
  @if function-exists(font-url) {
    @return font-url($url);
  }
  @else  {
    @return url($slick-font-path + $url);
  }
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    margin-left:0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: rem-calc(1);
    outline:0;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
        margin:0 auto;
        width:100%;
        outline:0;
        max-width:rem-calc(2200);
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: rem-calc(60);
    width: rem-calc(60);
    line-height: 0;
    font-size: 0;
    z-index: 9;
    opacity:0.3;
    opacity:0.3;
    filter: alpha(opacity=30);
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: rem-calc(-30);
    padding: 0;
    border: none;
    outline: none;
    &:hover, &:focus {
      outline: none;
      background: transparent;
      color: transparent;
      &:before {
        opacity: $slick-opacity-on-hover;
        filter: alpha(opacity=50);
      }
    }
    &.slick-disabled:before {
        opacity: $slick-opacity-not-active;
    }
}
.slick-prev:before, .slick-next:before {
    font-family: "Icons";
    font-size: rem-calc(30);
    line-height: 1;
    color: $slick-arrow-color;
    opacity: $slick-opacity-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.collection-profile-slider {
    .slick-prev:before, .slick-next:before {
        color: $primary-color;
    }
}
.slick-prev {
    left: 0;
    [dir="rtl"] & {
        left:  auto;
        right: 0;
    }
    &:before {
        @extend .icon-left-arrow:before;
    }
}
.slick-next {
    right: 0;
    [dir="rtl"] & {
        left:  0;
        right: auto;
    }
    &:before {
        @extend .icon-right-arrow:before;
    }
}
.blog-slider,.product-slider {
    .slick-prev,.slick-next{
        &:before {
            color:$primary-color;
        }
    }
    .slick-prev {
        left:-6%;
    }
    .slick-next {
        right:-6%;
    }
}

/* Dots */

.slick-slider {
    margin-bottom: rem-calc(30);
}
.slick-dots {
    position: relative;
    margin-bottom: rem-calc(-38);
    bottom:rem-calc(38);
    list-style: none;
    display: block;
    text-align: center;
    padding: 0;
    width: rem-calc(300);
    max-width: 100%;
    margin-left:auto;
    margin-right:auto;

    li {
        position: relative;
        display: inline-block;
        height: rem-calc(20);
        width: rem-calc(20);
        margin: rem-calc(0 5);
        padding: 0;
        cursor: pointer;

        button {
            border: 0;
            background: transparent;
            display: block;
            height: rem-calc(20);
            width: rem-calc(20);
            outline: none;
            line-height: 0;
            font-size: 0;
            color: transparent;
            padding: rem-calc(5);
            cursor: pointer;
            &:hover, &:focus {
                outline: none;
                &:before {
                  opacity: $slick-opacity-on-hover;
                }
            }

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                content: $slick-dot-character;
                width: rem-calc(20);
                height: rem-calc(20);
                font-family: $slick-font-family;
                font-size: $slick-dot-size;
                line-height: rem-calc(20);
                text-align: center;
                color: $slick-dot-color;
                opacity: $slick-opacity-not-active;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }

        }

        &.slick-active button:before {
            color: $slick-dot-color-active;
            opacity: $slick-opacity-default;
        }
    }
}
.autoSlider {
    max-height:rem-calc(700);
    .slick-slide {
        position:relative;
        img {
            max-height:rem-calc(500);
            width:auto!important;
        }
    }
}
@media #{$small-only} {
    .autoSlider {
        max-height:rem-calc(300);
        .slick-slide {
            position:relative;
            img {
                max-height:rem-calc(300);
                max-width:100%;
            }
        }
    }
}
@media #{$medium-up} {
    body.template-index {
        .slick-slider {
            margin-bottom:0;
        }
    }
}