h1,h2,h3,h4,h5,h6,.button {
  font-weight:400;
  text-transform: uppercase;
  letter-spacing: 0.35em;
}
.button.secondary {
  color:$smoke;
}
button {
  border:1px solid $primary-color;
  background:transparent;
  a {
    color:$primary-color;
  }
  &:hover {
    a {
      color:$white;
    }
  }
}
h1,h2,h3,h4,h5,h6 {
  color:$primary-color;
}
h1 {
  font-size:rem-calc(18);
}
h2 {
  font-size:rem-calc(17);
}
h3 {
  font-size:rem-calc(16);
}
h4 {
  font-size:rem-calc(15);
}
h5 {
  font-size:rem-calc(14);
}
h6 {
  font-size:rem-calc(13);
}
.text-editor {
    .button,h1,h2,h3,h4,h5,h6 {
      margin-bottom: rem-calc(25)!important;
    }
    &,p,li,td,th,tr {
      color:$primary-color;
      font-weight:300;
    }
    p,li,td,th,tr,span {
      a {
        opacity:0.7;
        @include transition-all(0.5s);
        display:inline-block;
        &:hover {
          opacity:0.5;
        }
      }
    }
}