h1,h2,h3,h4,h5,h6,.button {
  font-weight:400;
  text-transform: uppercase;
  letter-spacing: 0.35em;
}
.button, button, button a {
  &:hover {
    text-decoration: none!important;
  }
}
.didot {
  font-family:$font-family-serif;
}
.brandon {
  font-family:$font-family-sans-serif;
}
.uppercase {
  text-transform: uppercase!important;
}
.lowercase {
  text-transform: lowercase!important;
}
.capitalize {
  text-transform: capitalize!important;
}
.xlarge {
  font-size:rem-calc(40);
}
.large {
  font-size:rem-calc(30);
}
.medium {
  font-size:rem-calc(25);
}
.small {
  font-size:rem-calc(15);
}
.smallest {
  font-size:rem-calc(11);
}

#frequently-asked-questions {
  .text-editor{
    h1,h2,h3,h4,h5,h6 {
      text-transform: none;
      letter-spacing: rem-calc(1);
    }
  }
}
button,.button {
  border:1px solid $primary-color;
  background:transparent;
  text-transform: uppercase!important;
  line-height:1;
  a {
    color:$primary-color;
  }
  &:hover {
    background:$primary-color;
    a {
      color:$white;
    }
  }
  &.secondary {
    border:1px solid $secondary-color;
  }
}
h1,h2,h3,h4,h5,h6 {
  color:$primary-color;
  font-family: $font-family-sans-serif;
}
h1 {
  font-size:rem-calc(18);
}
h2 {
  font-size:rem-calc(17);
}
h3 {
  font-size:rem-calc(16);
}
h4 {
  font-size:rem-calc(15);
}
h5 {
  font-size:rem-calc(14);
}
h6 {
  font-size:rem-calc(13);
}
.text-editor {
    a {
      color:$link-color;
      opacity:1;
      &:hover {
        color:$link-color!important;
        opacity:1;
      }
    }
    .button,h1,h2,h3,h4,h5,h6 {
      margin-bottom: rem-calc(25)!important;
    }
    &,p,li,td,th,tr {
      color:$primary-color;
      font-weight:300;
      font-size:0.85rem;
    }
    p,li,td,th,tr,span {
      a {
        opacity:0.8!important;
        //@include transition-all(0.5s);
        display:inline-block;
        &:hover {
          //opacity:0.5;
        }
      }
    }
    h6 {
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: .2rem;
        margin-bottom: .5rem;
        font-weight: 500;
    }
}

@media #{$small-only} {
  .xlarge {
    font-size:rem-calc(35);
  }
  .large {
    font-size:rem-calc(20);
  }
  .medium {
    font-size:rem-calc(20);
  }
  .small {
    font-size:rem-calc(14);
  }
  .smallest {
    font-size:rem-calc(11);
  }

}